body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }

  /* Обычные строки таблицы */
tr {
  transition: background-color 0.3s ease;
}

/* Стиль для завершенных задач */
tr.completed {
  background-color: #d3d3d3; /* Более темный цвет для завершенных задач */
  /*text-decoration: line-through; /* Перечеркнутый текст   !зачеркивание!*/
}

/* Стиль для активных задач */
tr:not(.completed) {
  background-color: #f9f9f9; /* Светлый цвет для активных задач */
}